body {
    margin: 0;
    padding: 0;
    background-image: url(/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Source Sans Pro',
        sans-serif;
    font-size: 14px;
    line-height: 1.85;
    font-weight: 400;
}

/* Header */

header {
    background-color: transparent;
    color: #333;
    text-align: center;

}

nav {

    text-align: center;

}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* Main */


.blue {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background: rgba(140, 185, 189, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;

}


.pink {

    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background: rgba(255, 228, 201, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    border-radius: 5px;

}

/* Footer */

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

/* Optim */

@media (max-width: 600px) {

    /* Mobil nézet */
    div {
        max-width: 70%;
    }

    main {
        max-width: 75%;

    }
}
