body {
    margin: 0;
    padding: 0;
    background-image: url("/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* background-color: #FFF7F1; */
    /* color: #E78895; */
    font-family: 'Source Sans Pro',
        sans-serif;
    font-size: 14px;
    line-height: 1.85;
    font-weight: 400;
}

/* Header */

header {
    background-color: transparent;
    color: #E78895;
    text-align: center;
    /* padding: 1rem; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-size: 1.5vw; */
}

nav {

    text-align: center;
    /* padding: 1rem; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-size: 1.5vw; */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* Main */


main {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #FFE4C9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    border-radius: 15px;
    opacity: 0.6;
}


div {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #8CB9BD;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
    /* color: #FFE4C9; */
    margin-bottom: 1rem;
    border-radius: 5px;
    opacity: 0.6;
}

/* Footer */

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

/* Optim */

@media (max-width: 600px) {

    /* Mobil nézet */
    div {
        max-width: 70%;
    }

    main {
        max-width: 75%;

    }
}
